* { 
    box-sizing: border-box
}

body {
    padding :0;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-container{
    border-radius: 5px;
    box-shadow: 0 0 5px 2px;
    padding: 25px;

}

.questions-container {
     grid-template-columns: repeat(2, auto);  
}

.options-container {
    display: grid;
    gap: 10px;
    margin: 10px 0;
}

.btn {
    border: 1px solid;
    border-radius: 5px;
    padding: 10px 10px
}

.btn:hover {
    background-color: grey;
    opacity: .25;
    color: red
}

.start-btn {
    font-size: 2rem;
    font-weight: bold;
}

.hide {
    display: none;
}
}